/* catppuccin mocha */

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/*
        br - border
        bg - background
        fg - foreground
    */

/* main colors */

@define-color accent @lavender;
@define-color main-br @subtext0;
@define-color main-bg @crust;
@define-color main-fg @text;
@define-color hover-bg @base;
@define-color hover-fg alpha(@main-fg, 0.75);
@define-color outline shade(@main-bg, 0.5);

/* module colors */

@define-color workspaces @mantle;
@define-color temperature @mantle;
@define-color memory @base;
@define-color cpu @surface0;
@define-color time @surface0;
@define-color date @base;
@define-color tray @mantle;
@define-color privacy @base;
@define-color volume @surface0;

/* state colors */

@define-color warning @yellow;
@define-color critical @red;
@define-color charging @green;

/* fonts */

* {
  font-family: "Commit Mono Nerd Font";
  font-weight: bold;
  font-size: 16px;
}

#window label,
#mpris,
tooltip label {
  font-weight: normal;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-distro {
  font-size: 20px;
}

#custom-power_menu {
  font-size: 18px;
}

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
  font-size: 22px;
}

/* global */

* {
  color: @main-fg;
}

.module {
  margin-bottom: -1px;
}

#waybar {
  background-color: @outline;
}

#waybar>box {
  margin: 4px;
  background-color: @main-bg;
}

button {
  border-radius: 16px;
  min-width: 16px;
  padding: 0 10px;
}

button:hover {
  background-color: @hover-bg;
  color: @hover-fg;
}

tooltip {
  border: 2px solid @main-br;
  border-radius: 10px;
  background-color: @main-bg;
}

tooltip>box {
  padding: 0 6px;
}

/* modules-center */

/*------------------
        window count
    ------------------*/

#windowcount {
  margin-right: 12px;
}

#windowcount label {
  color: @hover-fg;
}

/*-----------------
        temperature
    -----------------*/

#custom-left_div.2 {
  color: @temperature;
}

#temperature {
  background-color: @temperature;
}

/*------------
        memory
    ------------*/

#custom-left_div.3 {
  background-color: @temperature;
  color: @memory;
}

#memory {
  background-color: @memory;
}

/*---------
        cpu
    ---------*/

#custom-left_div.4 {
  background-color: @memory;
  color: @cpu;
}

#cpu {
  background-color: @cpu;
}

#custom-left_inv.1 {
  color: @cpu;
}

/*-----------------
        distro icon
    -----------------*/

#custom-left_div.5,
#custom-right_div.2 {
  color: @accent;
}

#custom-distro {
  padding: 0 10px 0 5px;
  background-color: @accent;
  color: @main-bg;
}

/*--------------------
        idle inhibitor
    --------------------*/

#custom-right_inv.1 {
  color: @time;
}

#idle_inhibitor {
  background-color: @time;
}

/*----------
        time
    ----------*/

#clock.time {
  padding-right: 6px;
  background-color: @time;
}

#custom-right_div.3 {
  background-color: @date;
  color: @time;
}

/*----------
        date
    ----------*/

#clock.date {
  padding-left: 6px;
  background-color: @date;
}

#custom-right_div.4 {
  background-color: @tray;
  color: @date;
}

/*-----------------
        system tray
    -----------------*/

#network {
  background-color: @tray;
  padding: 0 6px 0 4px;
}

#bluetooth {
  background-color: @tray;
  padding: 0 5px;
}

#custom-system_update {
  background-color: @tray;
  padding: 0 8px 0 2px;
}

#custom-right_div.5 {
  color: @tray;
}

/* modules-left */

/*----------------
        workspaces
    ----------------*/

#custom-left_div.1,
#custom-right_div.1 {
  color: @workspaces;
}

#workspaces {
  padding: 0 1px;
  background-color: @workspaces;
}

#workspaces button.active label,
#workspaces button.focused label {
  color: @accent;
}

/*------------------
        window title
    ------------------*/

#window {
  margin-left: 12px;
}

/* modules-right */

/*----------------
        media info
    ----------------*/

#mpris {
  padding: 0 12px;
}

/*----------------
          tray
    ----------------*/

#custom-left_div.6 {
  color: @tray;
}

#tray {
  background-color: @tray;
  padding: 0px 12px;
}

/*----------------
        privacy
    ----------------*/

#custom-left_div.7 {
  background-color: @tray;
  color: @privacy;
}

#privacy {
  background-color: @privacy;
  padding: 0px 12px;
}

/*-------------
        volume
    -------------*/

#pulseaudio,
#wireplumber {
  background-color: @volume;
}

#custom-left_div.8 {
  background-color: @privacy;
  color: @volume;
}

#volume {
  background-color: @volume;
}

#custom-left_inv.2 {
  color: @volume;
}

/*----------------
        power menu
    ----------------*/

#custom-power_menu {
  border-radius: 16px;
  padding: 0 19px 0 16px;
  color: @accent;
}

#custom-power_menu:hover {
  background-color: @hover-bg;
}

/* states */

#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#pulseaudio:hover,
#wireplumber:hover {
  color: @hover-fg;
}

/* inactive state */
#idle_inhibitor.deactivated,
#mpris.paused,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted,
#wireplumber.muted {
  color: @hover-fg;
}

#memory.warning,
#cpu.warning,
#battery.warning {
  color: @warning;
}

#temperature.critical,
#memory.critical,
#cpu.critical,
#battery.critical {
  color: @critical;
}

#battery.charging {
  color: @charging;
}