@define-color background #000000;
@define-color surface1 #042c36;
@define-color surface2 #063d4a;
@define-color surface3 #085466;
@define-color surface4 #0a6b82;

@define-color primary #0e8fad;
/* @define-color primary #07404d; */
@define-color primary-text #CDD6F4;
@define-color primary-text-hover alpha(@primary-text, 0.75);

@define-color secondary-text #9EA5BE;


* {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 16px;
  font-weight: bold;
  color: @primary-text;
  padding: 0;
  margin: 0;
  min-height: 0;
}

window {
  background-color: alpha(@background, 0.20);
}


/* Workspaces */

#workspaces {
  background-color: @surface1;
}

#workspaces button {
  border-radius: 16px;
  min-width: 16px;
  padding: 0 8px;
}

#workspaces button:hover {
  background-color: @surface2;
  color: @surface2;
}

#workspaces button label {
  font-family: "FiraCode Nerd Font 18";
  font-size: 18px;
}

#workspaces button.active label,
#workspaces button.focused label {
  color: @primary;
}

/* Window Title */

#window {
  margin-left: 12px;
}

/* Window Count */

#windowcount {
  margin-right: 12px;
}

#windowcount label {
  color: @secondary-text;
  font-weight: bold;
}

/* Temperature */

#temperature {
  background-color: @surface1;
}

/* Memory Usage */

#memory {
  background-color: @surface2;
}

/* CPU Usage */

#cpu {
  background-color: @surface3;
}

/* NixOS */

#custom-distro {
  font-family: "FiraCode Nerd Font Mono 20";
  font-size: 20px;
  background-color: @primary;
  color: @background;
  padding: 0 13px 0 5px;
}

/* Idle Inhibitor */

#idle_inhibitor {
  background-color: @surface3;
}

/* Clock */

#clock.time {
  padding-right: 6px;
  background-color: @surface3;
}

#clock.date {
  padding-right: 6px;
  background-color: @surface2;
}

/* Network */

#network {
  background-color: @surface1;
  padding: 0 6px 0 4px;
}

/* Bluetooth */

#bluetooth {
  background-color: @surface1;
  padding: 0 5px;
}

/* System Update */

#custom-system_update {
  background-color: @surface1;
  padding: 0 8px 0 2px;
}

/* MPRIS */

#mpris {
  padding: 0 12px;
}

/* Tray */

#tray {
  background-color: @surface1;
  padding: 0px 12px;
}

/* Privacy */

#privacy {
  background-color: @surface2;
  padding: 0px 12px;
}

/* Wireplumber */

#wireplumber {
  background-color: @surface3;
}

/* Power Menu */

#custom-power_menu {
  padding: 0 19px 0 16px;
  color: @primary-text;
  background-color: @surface4;
}

#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#wireplumber:hover {
  color: @primary-text-hover;
}

/* Dividers */

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 22px;
}

#custom-left_div.1 {
  color: @surface1;
}

#custom-right_div.1 {
  color: @surface1;
}

#custom-left_div.2 {
  color: @surface2;
  background-color: @surface1;
}

#custom-right_div.2 {
  color: @surface2;
  background-color: @surface1;
}

#custom-left_div.3 {
  color: @surface3;
  background-color: @surface2;
}

#custom-right_div.3 {
  color: @surface3;
  background-color: @surface2;
}

#custom-left_div.4 {
  color: @primary;
  background-color: @surface4;
}

#custom-right_div.4 {
  color: @primary;
  background-color: @surface4;
}

#custom-left_inv.1 {
  color: @surface3;
  background-color: @surface4;
}

#custom-right_inv.1 {
  color: @surface3;
  background-color: @surface4;
}