@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

$accent: #1c93bf;
$secondary: #3B4261;
$error: red;

$font-size: 16px;

$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;

$gentle-curve: cubic-bezier(0.4, 0, 0.2, 1);

* {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
}

window.Bar {
  background: rgba(0, 0, 0, 0.15);
  border-radius: $radius-md;
  font-weight: bold;
  padding: 4px;
  min-height: 32px;

  color: $fg-color;
  font-size: $font-size;

  .module {
    border-radius: $radius-xl;
    padding-left: 8px;
    padding-right: 8px;
    transition: background-color 250ms $gentle-curve;
    background: transparent;

    &:hover {
      background: gtkalpha($fg-color, 0.1);
    }
  }

  // Workspaces

  .workspaces {
    padding: 8px;
  }

  .workspaces button {
    border-radius: $radius-md;
    min-width: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: 200ms;
  }

  .workspaces button.focused {
    background: $fg-color;
    min-width: 28px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .workspaces button.unfocused {
    background: rgba(255, 255, 255, 0.5);
  }

  // Cava Visualizer

  .media {
    padding: 0;

    button {
      background: transparent;
    }

    .cover {
      margin-left: 8px;

      .cover-art {
        border-radius: $radius-sm;
        min-width: 24px;
        min-height: 24px;
      }
    }

    .title {
      margin-right: 8px;
    }

    // TODO: fix cava border-radius; align with the button/module border-radius
    .cava {
      color: $accent;
      opacity: 0.4;
    }
  }

  .media>box {
    transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
    border-radius: $radius-xl;
    margin: 0.4rem;
  }


  .media.active>box {
    background: rgba(71, 53, 48, 0.6);
  }

  // DateTime

  .datetime {
    button {
      background: transparent;
    }
  }

  // DateTime & Notifications Center

  .central-popover {
    >contents {
      background-color: gtkalpha($bg-color, 0.2);
      // border-radius: $radius-md;
      border-radius: $radius-xl;
      padding: 1.5rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .central-container {
      min-width: 700px;
      min-height: 400px;

      .notifications-section {
        padding-right: 1.5rem;
        border-right: 1px solid gtkalpha($fg-color, 0.1);

        .section-title {
          font-weight: bold;
          font-size: 1.1rem;
          opacity: 0.8;
        }

        .clear-button {
          padding: 4px 12px;
          border-radius: $radius-md;
          background: gtkalpha($fg-color, 0.05);

          &:hover {
            background: gtkalpha($fg-color, 0.1);
          }
        }

        .notif-scroll {
          margin-top: 1rem;

          .notif-list {
            padding-right: 0.5rem; // Espaço para a scrollbar
          }
        }

        .empty-state {
          opacity: 0.3;
          margin-top: 4rem;

          icon {
            margin-bottom: 1rem;
          }
        }
      }

      .calendar-section {
        padding-left: 0.5rem;

        .time-header {
          margin-bottom: 16px;

          .clock-label {
            font-size: 2.4rem;
            font-weight: 700;
            color: $fg-color;
          }

          .date-label {
            font-size: 0.95rem;
            color: $accent;
            font-weight: 500;
          }
        }

        /* Estilo do Calendário */
        .calendar-widget {
          color: $fg-color;
          border: none;
          font-size: 14px;
          font-weight: normal;

          & :focus,
          &>grid>label:focus {
            outline: none;
            box-shadow: none;
          }

          /* Dias da semana (Iniciais) */
          grid>label.day-name {
            opacity: 0.5;
            font-size: 0.8rem;
            padding-bottom: 8px;
          }

          /* Todos os dias */
          grid>label {
            padding: 0;
            margin: 2px;
            color: $fg-color;
            min-width: 34px;
            min-height: 34px;

            -gtk-icon-shadow: none;
          }

          /* O DIA SELECIONADO (Efeito Circular Libadwaita) */
          & :selected {
            background-color: $accent;
            border-radius: 99px;
            font-weight: bold;
          }

          /* Dia atual (Hoje), mas não selecionado */
          & .today {
            color: $fg-color;
            font-weight: bold;
            text-decoration: none;
            border: none;
            box-shadow: none;
          }

          /* Dias de outros meses */
          .other-month {
            opacity: 0.3;
          }
        }
      }
    }
  }

  // System Tray

  .system-tray {
    image {
      -gtk-icon-size: $font-size;
    }

    .tray-item button {
      background: transparent;
    }
  }

  // Power Menu

  .powermenu {
    color: $accent;
  }

  // Tooltips

  tooltip {
    background-color: rgba(30, 30, 30, 0.95);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: $radius-md;
    padding: 4px 8px;
  }

  tooltip label {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin: 4px;
  }

  // Popover Menu

  popover.menu modelbutton {
    padding: 6px 12px;
    border-radius: $radius-sm;
    color: #eeeeec;
  }

  popover.menu modelbutton:hover {
    background-color: $accent;
    color: white;
  }
}

window.NotificationPopups {
  all: unset;

  .notification {
    border-radius: $radius-lg;
    background-color: gtkalpha($bg-color, 0.2);
    margin: 1.5rem 1.5rem 0.5rem 0.5rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.1);

    transition: background-color 0.2s;

    &:hover {
      background: gtkalpha($bg-color, 0.6);
    }

    &.critical {
      background-color: gtkalpha($error, 0.3);
    }

    .header {
      padding: 0.5rem;
      color: gtkalpha($fg-color, 0.5);

      .app-icon {
        margin: 0 0.4rem;
      }

      .app-name {
        font-weight: bold;

        &:first-child {
          margin-left: 0.4rem;
        }
      }

      .time {
        margin: 0 0.4rem;
      }

      button {
        padding: 0.2rem;
        min-width: 0;
        min-height: 0;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    separator {
      margin: 0 0.4rem;
      background-color: gtkalpha($fg-color, 0.1);
    }

    .content {
      margin: 1rem;
      margin-top: 0.5rem;

      .summary {
        font-size: 1.2em;
        color: $fg-color;
      }

      .body {
        color: gtkalpha($fg-color, 0.7);
      }

      .image {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 1rem;
        border-radius: $radius-md;
        min-width: 100px;
        min-height: 100px;
      }
    }

    .actions {
      margin: 1rem;
      margin-top: 0;

      button {
        margin: 0 0.3rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}